* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*width: 80%;*/
}

body {
    width: 80%;
    margin: 40px;
    padding: 0px;
    font-family: "Helvetica Neue";

}

header {
    color: blue;
    border-bottom: blue 2px solid;
}

h1 {
}

.ui-menu {
    padding: 10px 0;
}

.ui-button {
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #ea1d1d;
    padding: 5px 10px;
    border-radius: 10px;
}

label{
    color: #ea1d1d;
    font-weight: bolder;
    font-size: 18px;
}

#search{
    width: 85%;
    border: #ea1d1d 2px solid;
    padding: 15px 7px;
    border-radius: 7px;
    font-size: 20px;
}

#search-button{
    font-size: 18px;
    font-weight: bold;

    color: #ffffff;
    background-color: #ea1d1d;
    padding: 15px 10px;
    border-radius: 10px;
}
