* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    /*width: 80%;*/
}

body {
    width: 70%;
    margin: 40px;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;

}

header {
    color: blue;
    background-color: lightskyblue;
    border-bottom: blue 2px solid;
}

.ui-menu {
    padding: 10px 0;

}

.ui-button {
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;

    background-color: #ea1d1d;
    padding: 5px 10px;
    border-radius: 10px;
    width: 10em;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: blue;
}

label {
    color: #ea1d1d;
    font-weight: bolder;
    font-size: 18px;
}

#search {
    width: 85%;
    border: #ea1d1d 2px solid;
    padding: 15px 7px;
    border-radius: 7px;
    font-size: 20px;
}

#search-button {
    font-size: 18px;
    font-weight: bold;

    color: #ffffff;
    background-color: #ea1d1d;
    padding: 15px 10px;
    border-radius: 10px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 95%;
    height: 90%;
}

tr th {
    border: 1px solid darkgray;
    padding: 1em 1em;
    text-align: center;
}

th{
    background-color: aqua;
}

tr {
    height: 4em;
}

.tableText{
    text-align: left;
    padding-left: 2em;
}

.tableNumber{
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #ededed;
}