<!--
this is the "View",
the "greeting.html" template.
Thymeleaf parses the template and evaluates the various template expressions to render the form.
-->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started: Handling Form Submission</title>
</head>
<body>
<h2>Form</h2>
<h3 th:text="'Hello ' + ${enterYourName} + ', pls fill in this form:'"></h3>

<form th:object="${thisIsTheHtmlReference}" action="#" th:action="@{/greeting}" method="post">
    <div>
        <input id="id" type="text" th:field="*{id}"/>
        <label for="id">Id</label>
    </div>
    <div>
        <input id="message" type="text" th:field="*{content}"/>
        <label for="message">Message</label>
    </div>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>
