<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thyme WebShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>
<body>
<!--<p th:text=" ${name} + '!'" />-->
<!--<h1>Hello, this is thyme</h1>-->

<header class="webshop-header">
    <h1>My Shop now</h1>
</header>

<div class="ui-menu">
    <input type="button" class="ui-button" value="Only Available">
    <input type="button" class="ui-button" value="Cheapest First">
    <input type="button" class="ui-button" value="Contains Nike">
    <input type="button" class="ui-button" value="Average Stock">
    <input type="button" class="ui-button" value="Most Expensive Available">
</div>

<div class="search-row">
    <label for="search">Search for ...</label><br>
    <input type="search" id="search">
    <input type="button" id="search-button" value="Search">
</div>


</body>
</html>