<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My WebShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<header class="webshop-header">
    <h1 onclick="location.href='webshop'">Andras's Shop</h1>
</header>

<div class="ui-menu">
    <button type="button" class="ui-button" onclick="location.href='onlyavailable'">Not Available</button>
    <button type="button" class="ui-button" onclick="location.href='cheapestfirst'">Cheapest First</button>
    <button type="button" class="ui-button" onclick="location.href='containsnike'">Contains Nike</button>
    <button type="button" class="ui-button" onclick="location.href='averagestock'">Average Stock</button>
    <button type="button" class="ui-button" onclick="location.href='mostexpensiveavailable'">Most Expensive Available
    </button>
</div>

<div class="search-row">
    <label for="search">Search for ...</label><br>
    <input type="search" id="search">
    <input type="button" id="search-button" value="Search">
</div>

<table th:replace="fragments/filtering :: all-items">
<!--    <thead>-->
<!--    <tr>-->
<!--        <th class="tableText">Name</th>-->
<!--        <th class="tableText">Description</th>-->
<!--        <th>Price</th>-->
<!--        <th>Stock quantity</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    </tbody>-->

</table>

<!--<div>-->
<!--<p th:replace="fragments/filtering :: averageStockView"></p>-->
<!--</div>-->

<!--<div>-->
<!--<p th:replace="fragments/filtering :: mostexpensiveavailableView"></p>-->
<!--</div>-->

</body>
</html>