body{
    background-color: #f2f7f7;
    margin: 30px;
}

h1{
    text-align: center;
}

form{

}

.pages {
    vertical-align: middle;
    table-layout: auto;
}
.pagelinks{
    padding-right: 3em;
}

.loggedInUser{
    text-align: right;
}
