<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
  <title>Fox Club</title>
</head>
<body>

<header>
  <h1>Welcome to Programmer Fox Club Login</h1>
</header>

<div class="row">
  <div class="left colomn"></div>

  <div class="middle colomn">

    <ul th:if="${name}!=null">
      <li><a th:href="@{'/?name=' + ${name}}">Information</a></li>
      <li><a th:href="@{'/login?name=' + ${name}}">Login</a></li>
      <li><a th:href="@{'/nutritionstore?name='+${name}}">Nutrition Store</a></li>
      <li><a th:href="@{'/trickcenter?name='+${name}}">Trick Center</a></li>
    </ul>

    <div th:if="${errormessage}">
      <p>You have provided a name that has not been used before.</p>
      <p>Add it to the Club?</p>
      <form method="post" th:action="@{'/addfox?name=' + ${name}}">
        <button type="submit" name="name">Add <span th:text="${name}"></span> </button>
      </form>
      <p>Or add a new name?</p>
      <form method="post" th:action="@{'/addfox?name=' + ${newName}}">
        <label for="newName">Name</label>
        <input type="text" newName="newName" id="newName" >
        <button type="submit">GO</button>
      </form>
    </div>

    <p><span th:if="${errormessage}">Or p</span><span th:unless="${errormessage}">P</span>lease, provide
      a <span th:if="${errormessage}">new</span> name of club member foxes to find your pet.</p>

    <div>
      <form method="post" th:action="@{/login}">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button type="submit">GO</button>
      </form>
    </div>

  </div>

  <div class="right colomn"></div>
</div>

<footer>
</footer>
</body>
</html>

