<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <title>Add Todo</title>
</head>
<body>

<h2>Details</h2>

<table class="table table-hover" style="margin: 30px">
  <thead>
  <tr style="text-transform: uppercase; font-style: italic">
    <th>Title</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><label for="w3review" th:text="${todo.title}" style="font-size:1.5em" ></label></td>
    <td>
      <textarea id="w3review" name="w3review" rows="4" cols="60" th:text="${todo.details}"></textarea>
    </td>
  </tr>
  </tbody>
</table>

<a href="/todo/"><h6>Back to list</h6></a>
<form method="get" action="/todo/" style="margin-left: 30px;">
  <input type="submit" value="Back to list">
</form>


</body>
</html>