<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Add Todo</title>
</head>
<body>

<h2>Add a todo:</h2>

<form th:action="@{|/todo/${todo.id}/edit|}" method="post" th:object="${todo}">
  <label for="title">Add todo</label>
  <br>
  <input id="title" name="action" type="text" th:placeholder="*{title}">
  <br>
  <br>
  <label for="details">Add details</label>
  <br>
  <input id="details" name="details" type="text" th:placeholder="*{details}"
         style="height:10em; width:20em" size="255" >
  <br>
  <div>
    <label for="urgent" >Urgent</label>
    <input type="checkbox" id="urgent" th:field="*{urgent}" />
  </div>
  <div>
    <label for="done" >Done</label>
    <input type="checkbox" id="done" th:field="*{done}" />
  </div>
  <button type="submit">Edit</button>
</form>

<p th:placeholder="${todo.id}" th:text="${todo.id}">Id?</p>

</body>
</html>