<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
  <title>Todo CRUD App</title>
</head>
<body>

<h1>Todos for today:</h1>

<table class="table table-hover" style="margin: 30px">
  <tr>
    <td>
      <form action="/todo/search" method="get">
        <input type="text" name="searchTerm" placeholder="Search by action title or details" style="width: 15em">
        <button type="submit">Search</button>
      </form>
    </td>
    <td>
      <form action="/todo/add">
        <input type="submit" value="Add todo"/>
      </form>
    </td>
    <td>
      <form action="/todo/">
        <input type="submit" value="All todos" style="background-color: #55f514"/>
      </form>
    </td>
  </tr>
</table>

<table class="table table-hover" style="margin: 30px">
  <thead>
  <tr style="text-transform: uppercase; font-style: italic">
    <th>Created at</th>
    <th>Id</th>
    <th>Action</th>
    <th>Urgent</th>
    <th>Done</th>
    <td>Delete</td>
    <td>Edit</td>

  </tr>
  </thead>
  <tbody>
  <tr th:each="todo:${todos}" th:object="${todos}">
    <td th:text="${todo.creationDate}"></td>
    <td th:text="${todo.id}"></td>
    <td> <a th:href="@{|/todo/${todo.id}/details|}" th:text="${todo.title}"></a></td>
    <td>
      <div>
        <a th:href="@{|/todo/${todo.id}/urgent|}" th:text="${todo.urgent}"></a>
      </div>
    <td>
      <div>
        <a th:href="@{|/todo/${todo.id}/status|}" th:text="${todo.done}"></a>
      </div>
    </td>
    <td>
      <div>
        <a th:href="@{|/todo/${todo.id}/delete|}">Del</a>
      </div>
    </td>
    <td>
      <div>
        <a th:href="@{|/todo/${todo.id}/edit|}" >Edit</a>
      </div>
    </td>


  </tr>
  </tbody>
</table>


</body>
</html>