<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/mainstyle.css}"/>
    <title>Useful</title>
</head>
<body>
<table>
    <tr>
        <td>
            <a href="/colored">Colored Background</a>
        </td>
        <td>
            <a href="/useful/email?email=is@this.valid">Email validator</a>
        </td>
        <td>
            <a href="/encoder/decoder">Caesar</a>
        </td>
    </tr>
</table>
</body>
</html>
