<table th:fragment="all-items" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th class="tableText">Name</th>
        <th class="tableText">Description</th>
        <th>Price</th>
        <th>Stock quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}" class="tableText"></td>
        <td th:text="${item.getDescription()}" class="tableText"></td>
        <td th:text="${item.getPrice()}" class="tableNumber"></td>
        <td th:text="${item.getQuantity()}" class="tableNumber"></td>
    </tr>
    </tbody>
</table>

<div th:fragment="averageStockView" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 th:text="'Average stock: ' + ${averageStock}" class="tableText"></h1>
</div>

<div th:fragment="mostexpensiveavailableView" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 th:text="'The most expensive item is ' + ${mostexpensiveavailable}" class="tableText"></h1>
</div>


