body {
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    background-color: white;
    padding: 30px;
    margin: 30px;
    width: 40%;
}

form {
background-color: white;
}

.form-label{
    text-transform: uppercase;
    font-weight: 200;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

button{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 30px;
    margin-top: 30px;
}